.title-bar{
  color: #D9D2C3;
  width:100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-shadow: black 2px 4px 6px;
}

.picfooter {
  top: 100%;
  left: 2%;
  position: absolute;
}

.title-bar h2 {
  font-size: 3rem;
  text-align: center;
}

.title-club-events {
  margin-top:140px;
  height: 600px;
  background-image: url('backdrop-club-events.jpg');
  background-size: cover;
  background-position: 0% 40%;
}

.title-club-events h1 {
  font-size: 4rem;
  text-align: center;
}
.title-fluggebiete {
  margin-top: 140px;
  height: 600px;
  background-image: url('backdrop-fluggebiete.jpg');
  background-size: cover;
  background-position: 0% 50%;
}

.title-fluggebiete h1 {
  font-size: 4rem;
  text-align: center;
}
.title-flugpraxis {
  margin-top: 140px;
  height: 600px;
  background-image: url('backdrop-praxis.png');
  background-size: cover;
  background-position: 0% 100%;
}

.title-flugpraxis h1 {
  font-size: 4rem;
  text-align: center;
}

.title-gallery {
  margin-top: 140px;
  height: 600px;
  background-image: url('backdrop-gallerie.jpg');
  background-size: cover;
  background-position: 0% 80%;
}

.title-gallery h1 {
  font-size: 4rem;
  text-align: center;
}
.title-merch {
  margin-top: 140px;
  height: 600px;
  background-image: url('backdrop-merch.jpg');
  background-size: cover;
  background-position: 0% 30%;
}

.title-merch h1 {
  font-size: 4rem;
  text-align: center;
}
.title-selber {
  margin-top: 140px;
  height: 600px;
  background-image: url('backdrop-selber.jpg');
  background-size: cover;
  background-position: 0% 40%;
}

.title-selber h1 {
  font-size: 4rem;
  text-align: center;
}
.title-ueber-uns {
  margin-top: 140px;
  height: 1000px;
  background-image: url('backdrop-ueber-uns.jpg');
  background-size: cover;
  background-position: 0% 00%;
}

.title-ueber-uns h1 {
  font-size: 6rem;
  text-align: center;
}

.title-videos {
  margin-top: 140px;
  height: 600px;
  background-image: url('backdrop-videos.jpg');
  background-size: cover;
  background-position: 0% 30%;
}

.title-videos h1 {
  font-size: 4rem;
  text-align: center;
}

@media(max-width: 970px){
  .title-bar{
    color: #D9D2C3;
    position: relative;
    transition: 0.1s all ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .picfooter {
    display: none;
  }

  .title-bar h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .title-ueber-uns {
    height: 300px;
    background-image: url('backdrop-ueber-uns.jpg');
  }

  .title-ueber-uns h1 {
    font-size: 3rem;
    text-align: center;
  }

  .title-club-events {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-club-events.jpg');
  }

  .title-club-events h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-fluggebiete {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-fluggebiete.jpg');
  }

  .title-fluggebiete h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-flugpraxis {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-praxis.png');
  }

  .title-flugpraxis h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-gallery {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-gallerie.jpg');
  }

  .title-gallery h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-merch {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-merch.jpg');
  }

  .title-merch h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-selber {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-selber.jpg');
  }

  .title-selber h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-ueber-uns {
    margin-top: 80px;
    height: 240px;
    background-image: url('backdrop-ueber-uns.jpg');
  }

  .title-ueber-uns h1 {
    font-size: 3rem;
    text-align: center;
  }
  .title-videos {
    margin-top: 80px;
    height: 120px;
    background-image: url('backdrop-videos.jpg');
  }

  .title-videos h1 {
    font-size: 2rem;
    text-align: center;
  }

  .title-wind {
    margin-top: 140px;
    height: 600px;
    background-image: url('backdrop-gallerie.jpg');
    background-size: cover;
    background-position: 0% 80%;
  }
}